body{
    background-color: green;
    /* background: url(); */
    /* background-size: cover; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold; 
    
}

h1{
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
 
button {
    color: #016f32;
    background: goldenrod;
    font-weight: bold;
    width: 150px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    margin-bottom: 4px;
}


